<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/global.css" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- import icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <title>Cadastro</title>
</head>


<body>
    <h1>Cadastro</h1>
    <br>
    <div class="container">

        <form action="/form" method="post">
            <label>
                <h5>Dados do avaliador</h5>
            </label>
            <br>

            <i class="material-icons prefix">account_circle</i>
            <input typer="text" name="nome" placeholder="nome do avaliador" value="${data.NOME}">
            <input typer="text" name="lotacao" placeholder="lotação" value="${data.LOTACAO}">
            <i class="material-icons prefix">mail</i>
            <input typer="email" name="email" placeholder="e-mail" value="${data.EMAIL}">
            <i class="material-icons prefix">phone</i>
            <input typer="tel" name="telefone" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}" placeholder="81-90000-0000"
                value="${data.TELEFONE}">
            <br>




            <button href="/" style="margin-right: 10pt;" typer="reset"
                class="waves-effect waves-light btn  green darken-1">Cancelar</button>
            <button typer="submit" class="waves-effect waves-light btn  green darken-1">Salvar</button>







        </form>
    </div>

</body>

</html>