<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionario</title>
    <link href="/styles/global.css" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- import icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

</head>


<body>
    <div class="green lighten-1">
        <h1>Questionario</h1>

    </div>

    <form action="/questionario3" method="post">
        <fieldset>


            <h3 class=" grey lighten-2"> DIMENSÃO 3 - INFRAESTRUTURA :</h3>
            <div class="DIMENSAO">
                <div class="D3">

                    <table>
                        <tr>
                            <td>
                                <div>

                                    <p> 3.1 Acervo bibliográfico
                                        <br>
                                        <select class="browser-default" name="q1">
                                            <option value="1" selected="${data.D3Q1 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q1 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q1 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q1 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q1 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q1 == '0'}">NSA</option>
                                        </select>
                                        <input value="${data.D3C1}" type="text" name="c1" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p> 3.2 Instalações e ambientes para o curso: coordenação do curso
                                        <br>
                                        <select class="browser-default" name="q2">
                                            <option value="1" selected="${data.D3Q2 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q2 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q2 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q2 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q2 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q2 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D3C2}" type="text" name="c2" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>



                            <td>
                                <div>
                                    <p> 3.3 Instalações e ambientes para o curso: trabalho docente
                                        <br>
                                        <select class="browser-default" name="q3">
                                            <option value="1" selected="${data.D3Q3 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q3 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q3 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q3 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q3 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q3 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D3C3}" type="text" name="c3" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div>
                                    <p> 3.4 Instalações e ambientes para o curso: laboratórios
                                        <br>
                                        <select class="browser-default" name="q4">
                                            <option value="1" selected="${data.D3Q4 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q4 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q4 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q4 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q4 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q4 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D3C4}" type="text" name="c4" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>
                            <td>
                                <div>
                                    <p> 3.5 Acessibilidade infraestrutura
                                        <br>
                                        <select class="browser-default" name="q5">
                                            <option value="1" selected="${data.D3Q5 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q5 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q5 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q5 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q5 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q5 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D3C5}" type="text" name="c5" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>


                            <td>
                                <div>
                                    <p> 3.6 Instalações, equipamentos e ambientes para o curso: Tecnologia da Informação
                                        e
                                        Comunicação
                                        <br>
                                        <select class="browser-default" name="q6">
                                            <option value="1" selected="${data.D3Q6 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q6 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q6 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q6 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q6 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q6 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D3C6}" type="text" name="c6" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <p> 3.7 Instalações e ambientes para o curso: salas de aula
                                        <br>
                                        <select class="browser-default" name="q7">
                                            <option value="1" selected="${data.D3Q7 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q7 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q7 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q7 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q7 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q7 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D3C7}" type="text" name="c7" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>

                                    <p> 3.8 Instalações e ambientes para o curso: equipamentos e insumosT
                                        <br>
                                        <select class="browser-default" name="q8">
                                            <option value="1" selected="${data.D3Q8 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q8 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q8 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q8 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q8 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q8 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D3C8}" type="text" name="c8" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>
                            <td>
                                <div>

                                    <p> 3.9 Instalações e ambientes para o curso: setor de produção (quando for o caso
                                        de curso na
                                        área
                                        agrícola)
                                        <br>
                                        <select class="browser-default" name="q9">
                                            <option value="1" selected="${data.D3Q9 == '1'}">1</option>
                                            <option value="2" selected="${data.D3Q9 == '2'}">2</option>
                                            <option value="3" selected="${data.D3Q9 == '3'}">3</option>
                                            <option value="4" selected="${data.D3Q9 == '4'}">4</option>
                                            <option value="5" selected="${data.D3Q9 == '5'}">5</option>
                                            <option value="0" selected="${data.D3Q9 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D3C9}" type="text" name="c9" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>


                        </tr>


                    </table>

                </div>




            </div>


        </fieldset>


        <a href="/" style="margin-right: 10pt;" class="waves-effect waves-light btn green darken-1">Cancelar</a>
        <button class="waves-effect waves-light btn green darken-1" typer="submit">Salvar</button>


    </form>

    <div>
        <h6><b>CONCEITO/DESCRIÇÃO</b></h6>


        <table>



            <tr>
                <th>1</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro <b> MUITO AQUÉM </b> do que expressa
                    o
                    referencial mínimo de qualidade;</td>
                <th>2</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro<b> AQUÉM </b> do que expressa o
                    referencial
                    mínimo de qualidade;</td>
                <th>3</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro <b>SIMILAR </b> ao que expressa o
                    referencial
                    mínimo de qualidade;</td>
                <th>4</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro <b>ALÉM</b> do que expressa o
                    referencial
                    mínimo de qualidade;</td>
                <th>5</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro <b>MUITO ALÉM </b> do que expressa o
                    referencial
                    mínimo de qualidade.</td>
                <th>NSA</th>
                <td>Quando o item <b>NÃO SE APLICA </b> ao curso ou ao indicador especificado.</td>


            </tr>
        </table>
    </div>
</body>

</html>