<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionario</title>
    <link href="/styles/global.css" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- import icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

</head>


<body>
    <div class="green lighten-1">
        <h1>Questionario</h1>

    </div>

    <form action="/questionario2" method="post">
        <fieldset>
            <h3 class=" grey lighten-2"> DIMENSÃO 2 - CORPO DOCENTE :</h3>
            <div class="DIMENSAO">
                <div class="D2">
                    <table>
                        <tr>

                            <td>
                                <div>
                                    <p> 2.1 Perfil e Regime de Trabalho do Coordenador do Curso
                                        <br>
                                        <select class="browser-default" name="q1">
                                            <option value="1" selected="${data.D2Q1 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q1 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q1 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q1 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q1 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q1 == '0'}">NSA</option>
                                        </select>
                                        <input value="${data.D2C1}" type="text" name="c1" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p> 2.2 Condições de trabalho do coordenador de curso
                                        <br>
                                        <select class="browser-default" name="q2">
                                            <option value="1" selected="${data.D2Q2 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q2 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q2 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q2 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q2 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q2 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C2}" type="text" name="c2" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>

                                    <p> 2.3 Experiência do coordenador de curso
                                        <br>
                                        <select class="browser-default" name="q3">
                                            <option value="1" selected="${data.D2Q3 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q3 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q3 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q3 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q3 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q3 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C3}" type="text" name="c3" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>

                        </tr>



                        <tr>

                            <td>
                                <div>
                                    <p> 2.4 Atuação do coordenador de curso
                                        <br>
                                        <select class="browser-default" name="q4">
                                            <option value="1" selected="${data.D2Q4 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q4 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q4 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q4 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q4 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q4 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C4}" type="text" name="c4" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>
                            <td>
                                <div>

                                    <p> 2.5 Formação inicial do corpo docente
                                        <br>
                                        <select class="browser-default" name="q5">
                                            <option value="1" selected="${data.D2Q5 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q5 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q5 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q5 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q5 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q5 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C5}" type="text" name="c5" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>
                            <td>
                                <div>

                                    <p> 2.6 Titulação do corpo docente
                                        <br>
                                        <select class="browser-default" name="q6">
                                            <option value="1" selected="${data.D2Q6 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q6 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q6 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q6 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q6 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q6 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C6}" type="text" name="c6" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>

                        </tr>


                        <tr>

                            <td>
                                <div>

                                    <p> 2.7 Regime de trabalho do corpo docente do curso
                                        <br>
                                        <select class="browser-default" name="q7">
                                            <option value="1" selected="${data.D2Q7 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q7 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q7 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q7 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q7 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q7 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C7}" type="text" name="c7" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>

                                    <p> 2.8 Experiência profissional do corpo docente na Educação Básica e na EPT
                                        <br>
                                        <select class="browser-default" name="q8">
                                            <option value="1" selected="${data.D2Q8 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q8 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q8 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q8 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q8 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q8 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C8}" type="text" name="c8" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p> 2.9 Tempo de experiência do corpo docente na Educação Básica e EPT
                                        <br>
                                        <select class="browser-default" name="q9">
                                            <option value="1" selected="${data.D2Q9 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q9 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q9 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q9 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q9 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q9 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C9}" type="text" name="c9" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <div>
                                    <p> 2.10 Experiência profissional do corpo docente na área técnica vinculada ao
                                        curso
                                        <br>
                                        <select class="browser-default" name="q10">
                                            <option value="1" selected="${data.D2Q10 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q10 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q10 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q10 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q10 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q10 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C10}" type="text" name="c10" placeholder="Comentario" />
                                    </p>

                                </div>
                            </td>
                            <td>
                                <div>
                                    <p> 2.11 Produção científica, cultural, técnica, tecnológica e artística do corpo
                                        docente
                                        <br>
                                        <select class="browser-default" name="q11">
                                            <option value="1" selected="${data.D2Q11 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q11 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q11 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q11 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q11 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q11 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C11}" type="text" name="c11" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>

                                    <p> 2.12 Produção docente: Atividades de extensão
                                        <br>
                                        <select class="browser-default" name="q12">
                                            <option value="1" selected="${data.D2Q12 == '1'}">1</option>
                                            <option value="2" selected="${data.D2Q12 == '2'}">2</option>
                                            <option value="3" selected="${data.D2Q12 == '3'}">3</option>
                                            <option value="4" selected="${data.D2Q12 == '4'}">4</option>
                                            <option value="5" selected="${data.D2Q12 == '5'}">5</option>
                                            <option value="0" selected="${data.D2Q12 == '0'}">NSA</option>

                                        </select>
                                        <input value="${data.D2C12}" type="text" name="c12" placeholder="Comentario" />
                                    </p>
                                </div>
                            </td>

                        </tr>


                    </table>

                </div>




            </div>
        </fieldset>


        <a href="/" style="margin-right: 10pt;" class="waves-effect waves-light btn green darken-1">Cancelar</a>
        <button class="waves-effect waves-light btn green darken-1" typer="submit">Dimensão 3</button>


    </form>
    <div>
        <h6><b>CONCEITO/DESCRIÇÃO</b></h6>


        <table>



            <tr>
                <th>1</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro <b> MUITO AQUÉM </b> do que expressa
                    o
                    referencial mínimo de qualidade;</td>
                <th>2</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro<b> AQUÉM </b> do que expressa o
                    referencial
                    mínimo de qualidade;</td>
                <th>3</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro <b>SIMILAR </b> ao que expressa o
                    referencial
                    mínimo de qualidade;</td>
                <th>4</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro <b>ALÉM</b> do que expressa o
                    referencial
                    mínimo de qualidade;</td>
                <th>5</th>
                <td>Quando os indicadores da dimensão avaliada configuram um quadro <b>MUITO ALÉM </b> do que expressa o
                    referencial
                    mínimo de qualidade.</td>
                <th>NSA</th>
                <td>Quando o item <b>NÃO SE APLICA </b> ao curso ou ao indicador especificado.</td>


            </tr>
        </table>
    </div>

</body>

</html>